.projects-container {
  display: grid;
  /* grid-template-columns: min-content; */
  text-align: center;
  gap: 2rem;
  grid-auto-flow: column;
  grid-auto-columns: 46%;
  padding: 0 1rem 1rem;
  
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.my-portfolio {
  text-align: center;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 1rem;
}

.snaps-inline > * {
  scroll-snap-align: start;
}